@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

$Moderate-violet: hsl(263, 55%, 52%);
$Very-dark-grayish-blue: hsl(217, 19%, 35%);
$Very-dark-blackish-blue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$Light-gray: hsl(0, 0%, 81%);
$Light-grayish-blue: hsl(210, 46%, 95%);

@mixin m-q($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.3rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: $White;
  background: $Light-grayish-blue;
  min-height: 100vh;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 115rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.testimonials {
  padding: 16.5rem 0;

  @include m-q(670px) {
    padding: 7rem 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    row-gap: 2.5rem;
    min-height: 57.3rem;

    @include m-q(900px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @include m-q(670px) {
      display: block;
    }
  }

  &__item {
    padding: 3rem;
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.1);

    @include m-q(670px) {
      margin-bottom: 2.5rem;
    }
  }

  &__item:nth-child(1) {
    background: $Moderate-violet;
    grid-column: 1/3;
    transform: translateY(-200px);
    transition-delay: 0.1s;
    position: relative;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      right: 80px;
      width: 104px;
      height: 102px;
      background: url(./images/bg-pattern-quotation.svg);
      z-index: -1;

      @include m-q(670px){
        right: 22px;
      }
    }

    &.show-top {
      opacity: 1;
      transform: translateY(0);
    }

    @include m-q(900px) {
      grid-column: 1/4;
      grid-row: 1/2;
    }
  }
  &__item:nth-child(2) {
    background: $Very-dark-grayish-blue;
    grid-column: 3/4;
    transition-delay: 0.2s;
    transform: translateY(-200px);

    &.show-top {
      opacity: 1;
      transform: translateY(0);
    }

    @include m-q(1000px) {
      grid-column: 4/5;
      grid-row: 2/3;
    }

    @include m-q(900px) {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
  &__item:nth-child(3) {
    background: $White;
    grid-column: 1/2;
    transform: translateY(200px);
    transition-delay: 0.3s;

    &.show-bottom {
      opacity: 1;
      transform: translateY(0);
    }

    @include m-q(1000px) {
      grid-row: 2/3;
    }

    @include m-q(900px) {
      grid-column: 4/7;
      grid-row: 1/2;
    }
  }

  &__item:nth-child(4) {
    background: $Very-dark-blackish-blue;
    grid-column: 2/4;
    transition-delay: 0.4s;
    transform: translateY(200px);

    &.show-bottom {
      opacity: 1;
      transform: translateY(0);
    }

    @include m-q(1000px) {
      grid-column: 2/4;
      grid-row: 2/3;
    }

    @include m-q(900px) {
      grid-column: 3/7;
      grid-row: 2/3;
    }
  }

  &__item:nth-child(5) {
    background: $White;
    grid-column: 4/5;
    grid-row: 1/3;
    transition-delay: 0.5s;
    transform: translateY(200px);

    &.show-bottom {
      opacity: 1;
      transform: translateY(0);
    }

    @include m-q(1000px) {
      grid-column: 3/5;
      grid-row: 1/2;
    }

    @include m-q(900px) {
      grid-column: 1/7;
      grid-row: 3/4;
    }
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__img-box {
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--featured {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: hsl(263, 56%, 72%);

        height: 100%;
        z-index: 1;
        border-radius: 50%;
      }
    }
  }

  &__img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    z-index: 1;
  }

  &__person {
    color: $Light-grayish-blue;
    font-size: 1.3rem;
    padding-left: 1.4rem;

    &--dark-text {
      color: $Very-dark-blackish-blue;
    }
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__status {
    opacity: 0.5;
  }

  &__main-thought {
    margin: 1.5rem 0;
    font-size: 2rem;
    line-height: 1.15;

    &--dark-text {
      color: $Very-dark-grayish-blue;
    }
  }

  &__summary {
    line-height: 1.4;
    opacity: 0.7;

    &--dak-text {
      color: $Very-dark-blackish-blue;
    }
  }
}