@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
// font-family: 'Alata', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
// font-family: 'Josefin Sans', sans-serif;

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);

@mixin m-q($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
  color: $White;
  // background: $Bright;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 115rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.heading-secondary {
  color: $Black;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  margin-bottom: 3rem;

  @include m-q(375px) {
    font-size: 2.4rem;
  }
}

.description {
  color: $Dark-Gray;
  line-height: 1.6;
}

.btn-primary {
  background: $White;
  border: 2px solid $Black;
  padding: 0.9rem 3.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-wrap: nowrap;
  word-spacing: 5px;
  color: $Black;
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: $Black;
    color: $White;
  }
}

// .header
.header {
  min-height: 65rem;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(./images/desktop/image-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include m-q(750px) {
    min-height: 65rem;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(./images/mobile/image-hero.jpg);
  }

  &__heading {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 7.2rem;
    max-width: 66rem;
    margin-top: 6rem;
    padding: 3rem 5rem 3rem 3rem;
    border: 1px solid $White;

    @include m-q(750px) {
      font-size: 5rem;
    }

    @include m-q(450px) {
      font-size: 4rem;
      padding: 3rem;
    }

    @include m-q(375px) {
      font-size: 3.6rem;
      padding: 2rem;
    }

    @include m-q(320px) {
      font-size: 2.4rem;
    }
  }
}

// .navbar
.navbar {
  padding: 6.2rem 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: 0.3s;

  @include m-q(750px) {
    padding: 1.5rem 0;
  }

  &__scrolled {
    background: black;
    padding: 1.5rem 0;
  }

  &__site-link {
    &--mobile {
      display: none;

      @include m-q(750px) {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
      }
    }
  }

  &__site-logo {
    @include m-q(750px) {
      max-width: 14.4rem;
    }
    &--footer {
      max-width: 14.4rem;
      margin-bottom: 2rem;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__nav-trigger {
    display: none;
    border: none;
    background: transparent;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    height: 3.4rem;
    transform: translateX(5px);

    @include m-q(750px) {
      display: block;
      z-index: 1;
    }

    &--close {
      position: absolute;
      top: 15px;
      right: 20px;
    }
  }

  &__nav-list-wrapper {
    @include m-q(750px) {
      transform: translateX(100%);
      position: fixed;
      width: 100%;
      height: 100%;
      background: $Black;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      z-index: 2;
      padding: 1rem;
      transition: 0.1s;
    }
    &.active {
      @include m-q(750px) {
        transform: translateX(0%);
      }
    }
  }

  &__nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    transform: translateX(15px);

    @include m-q(750px) {
      transform: translateX(0);
      flex-direction: column;
      align-items: flex-start;
    }

    &--footer {
      transform: translateX(-15px);
      
      @include m-q(750px) {
        transform: translateX(0);
        align-items: center;
      }
    }
  }

  &__nav-item {
    margin: 0 0.5rem;
  }

  &__nav-link {
    padding: 1rem;
    letter-spacing: 1px;
    color: $White;
    position: relative;

    @include m-q(750px) {
      text-transform: uppercase;
      font-weight: 300;
      font-family: "Josefin Sans", sans-serif;
      font-size: 2rem;
    }

    &:hover::before {
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      height: 2px;
      width: 3rem;
      background: $White;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &--footer {
      text-transform: initial;
      font-weight: 400;
      font-family: inherit;
      font-size: 1.5rem;
    }
  }
}

// .about
.about {
  padding: 16rem 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 731px 1fr;
    position: relative;
    gap: 50px;

    @include m-q(771px) {
      grid-template-columns: 1fr;
    }
  }

  &__bg-img {
    background-image: url(./images/desktop/image-interactive.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 68.39%; /* (img-height / img-width * container-width) */

    @include m-q(654px) {
      background-image: url(./images/mobile/image-interactive.jpg);
      padding-top: 68.5%; /* (img-height / img-width * container-width) */
    }
  }

  &__heading-container {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 54rem;
    padding: 9rem 0 0 9rem;
    background: $White;

    @include m-q(1100px) {
      padding: 3rem 0 0 3rem;
    }

    @include m-q(750px) {
      position: static;
      padding: 0 2rem;
      max-width: 50rem;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__heading {
    @include m-q(1100px) {
      font-size: 3.6rem;
      margin-bottom: 2rem;
    }

    @include m-q(375px) {
      font-size: 2.4rem;
    }
  }
}

// .our-creations
.our-creations {
  margin-bottom: 18.5rem;

  &__intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
  }

  &__heading {
    margin-bottom: 0;
  }

  &__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 255px));
    gap: 30px;
    justify-content: center;

    @include m-q(750px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }

    @include m-q(750px) {
      min-height: 24rem;
    }
  }

  &__card-title {
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    color: $White;
  }

  &__card-1 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(./images/desktop/image-deep-earth.jpg);

    @include m-q(750px) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url(./images/mobile/image-deep-earth.jpg);
    }
  }
  &__card-2 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(./images/desktop/image-night-arcade.jpg);

    @include m-q(750px) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url(./images/mobile/image-night-arcade.jpg);
    }
  }
  &__card-3 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(./images/desktop/image-soccer-team.jpg);

    @include m-q(750px) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url(./images/mobile/image-soccer-team.jpg);
    }
  }
  &__card-4 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(./images/desktop/image-grid.jpg);

    @include m-q(750px) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url(./images/mobile/image-grid.jpg);
    }
  }
  &__card-5 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(./images/desktop/image-from-above.jpg);

    @include m-q(750px) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url(./images/mobile/image-from-above.jpg);
    }
  }
  &__card-6 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(./images/desktop/image-pocket-borealis.jpg);

    @include m-q(750px) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url(./images/mobile/image-pocket-borealis.jpg);
    }
  }
  &__card-7 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(./images/desktop/image-curiosity.jpg);

    @include m-q(750px) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url(./images/mobile/image-curiosity.jpg);
    }
  }
  &__card-8 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(./images/desktop/image-fisheye.jpg);

    @include m-q(750px) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url(./images/mobile/image-fisheye.jpg);
    }
  }
}

.footer {
  padding: 4rem 0;
  background: $Black;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @include m-q(750px) {
      grid-template-columns: 1fr;
      // place-items: center;
      text-align: center;
    }
  }

  &__navigation {
    // display: block;
    flex-direction: column;
    @include m-q(750px) {
      align-items: center;
    }
  }

  &__nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;

    @include m-q(750px) {
      justify-content: center;
      text-align: center;
      align-items: center;
      transform: translateX(0);
    }
  }

  &__nav-item {
    margin-left: 2rem;
  }

  &__nav-link {
    position: relative;
    height: 3.4rem;

    &:hover::before {
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: $White;
      opacity: 0;
      transition: 0.3s opacity;
    }
  }

  &__copyright {
    color: $Very-Dark-Gray;
    text-align: right;

    @include m-q(750px) {
      text-align: center;
    }
  }
}
