@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// text
$Very-dark-desaturated-blue: hsl(238, 29%, 16%);
$Soft-red: hsl(14, 88%, 65%);
$Very-dark-grayish-blue: hsl(237, 12%, 33%);
$Dark-grayish-blue: hsl(240, 6%, 50%);

// Background gradient:
$Soft-violet: hsl(273, 75%, 66%);
$Soft-blue: hsl(240, 73%, 65%);

// Dividers
$Light-grayish-blue: hsl(240, 5%, 91%);

@mixin m-q($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
  background-image: linear-gradient($Soft-violet, $Soft-blue);
  min-height: 100vh;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  padding: 13rem 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include m-q(1015px) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.heading {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: $Very-dark-desaturated-blue;

  @include m-q(1015px) {
    text-align: center;
  }
}

.faq {
  background: #fff;
  max-width: 92rem;
  min-height: 51rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 460px 460px;
  border-radius: 30px;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.5s opacity;

  &.show {
    opacity: 1;
  }

  @include m-q(1015px) {
    display: block;
    width: 100%;
    min-height: 58rem;
  }

  @include m-q(375px) {
    min-height: 60rem;
  }

  &__col-one {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-position-x: -584px;
    background-position-y: -278px;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;

    @include m-q(1015px) {
      background-image: url(./images/bg-pattern-mobile.svg);
      background-position-x: center;
      background-position-y: 0;
      background-repeat: no-repeat;
      overflow: initial;
      min-height: 14rem;
    }
  }

  &__photo {
    position: absolute;
    left: -80px;
    top: 50%;
    transform: translateY(-50%);

    @include m-q(1015px) {
      left: calc(50% - 14px);
      transform: translateX(-50%);
      top: -76%;
    }
  }

  &__col-two {
    padding: 7rem 0;
    position: relative;

    @include m-q(1015px) {
      padding: 0 2.5rem 5rem 2.5rem;
    }

    &::before {
      content: "";
      background-image: url(./images/illustration-box-desktop.svg);
      background-repeat: no-repeat;
      width: 191px;
      height: 184px;
      position: absolute;
      left: calc(-100% - 93px);
      top: 40%;

      @include m-q(1015px) {
        display: none;
      }
    }
  }

  &__list {
    list-style: none;
    max-width: 35rem;

    @include m-q(1015px) {
      margin: 0 auto;
    }
  }

  &__list-item {
    border-bottom: 1px solid $Light-grayish-blue;
    padding: 1.4rem 0;
  }

  &__question {
    border: none;
    background: none;
    position: relative;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 1.5rem;
    line-height: 1.5rem;
    transition: 0.3s;
    color: $Very-dark-grayish-blue;
    cursor: pointer;
    outline-offset: 0.5rem;
    padding: 0.3rem;
    padding-left: 0;

    @include m-q(1015px) {
      padding-right: 2rem;
    }

    &:hover {
      color: $Soft-red;
    }

    &::before {
      content: "";
      position: absolute;
      background: url(./images/icon-arrow-down.svg);
      width: 10px;
      height: 7px;
      right: 15px;
      transition: 0.3s transform;

      @include m-q(1015px) {
        right: 3px;
      }
    }

    &.open {
      font-weight: 700;

      &:hover {
        color: $Very-dark-grayish-blue;
      }

      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__answer-container {
    max-height: 0;
    overflow: hidden;
    // transition: 0.3s;

    &.active {
      max-height: 700px;

      .faq__answer {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__answer {
    transition: 0.3s transform, 0.3s opacity;
    padding: 1rem 0 0rem 0;
    max-width: 32rem;
    transform: translateY(20px);
    opacity: 0;
    color: $Dark-grayish-blue;
    line-height: 1.4;

    @include m-q(1015px) {
      padding-right: 2rem;
    }
  }
}
